<div class="container">
    <div class="row justify-content-center">
        <!-- Berber Dükkanı Tarihi Bölümü -->
        <div class="col-md-8 personal-data-box d-flex align-items-center">
            <div class="image-container">
                <img src="https://m.media-amazon.com/images/I/71XoNjFgvGL._AC_UF1000,1000_QL80_.jpg" alt="Profil Fotoğrafı" class="profile-image">
            </div>
            <div class="text-container">
                <h2>Berber Dükkanı Tarihi</h2>
                <p>
                    Berber dükkânımız, geleneksel berberlik hizmetlerini modern dokunuşlarla buluşturarak hizmet vermeye başladığı yılından bu yana, müşterilerimize en iyi deneyimi sunmayı ilke edinmiştir. Açıldığımız ilk günden itibaren, saç ve sakal kesiminin ötesine geçerek müşterilerimize rahatlayabilecekleri, hoş bir sohbet eşliğinde keyifli vakit geçirebilecekleri bir ortam yaratmayı amaçladık.

                    Klasik berber kültürünü yaşatmakla birlikte, modern bakım ürünleri ve tekniklerini de hizmetlerimize ekleyerek zamanın ruhuna ayak uyduruyoruz. Sadece bir berber dükkânı değil, aynı zamanda müşterilerimizin bir araya geldiği, sohbetin ve dostluğun buluştuğu bir yer olmanın gururunu taşıyoruz.
                </p>
            </div>
        </div>

        <!-- Biz Kimiz? Bölümü -->
        <div class="col-md-8 personal-data-box d-flex align-items-center mt-4">
            <div class="text-container">
                <h2>BİZ KİMİZ?</h2>
                <p>
                    Biz, geleneksel değerleri koruyarak yenilikçi ve kaliteli hizmet sunmayı misyon edinmiş bir berber dükkanıyız. Müşterilerimizin saç ve sakal bakımında profesyonel çözümler sunarak, onların memnuniyetini her şeyin önünde tutuyoruz. Ekibimiz, deneyimli ve işini tutkuyla yapan profesyonellerden oluşmaktadır.

                    Amacımız, her müşteriyle birebir ilgilenerek onların isteklerine ve ihtiyaçlarına göre en uygun hizmeti sunmaktır. Berber dükkânımız, yalnızca kişisel bakımın ötesine geçerek müşterilerimiz için bir sosyalleşme alanı yaratmaktadır. Dostça bir ortamda, kaliteli hizmet alabileceğiniz bir yer olarak sizleri ağırlamaktan mutluluk duyuyoruz.
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />