@model WebApplication7.Models.Kullanici

@{
    ViewData["Title"] = "Kayıt Ol";
    Layout = null;
}

<h1>@ViewData["Title"]</h1>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<form asp-action="KullaniciKayit" method="post">
    <div class="form-group">
        <label asp-for="Ad"></label>
        <input asp-for="Ad" class="form-control" />
        <span asp-validation-for="Ad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Soyad"></label>
        <input asp-for="Soyad" class="form-control" />
        <span asp-validation-for="Soyad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Mail"></label>
        <input asp-for="Mail" class="form-control" />
        <span asp-validation-for="Mail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sifre"></label>
        <input asp-for="Sifre" type="password" class="form-control" />
        <span asp-validation-for="Sifre" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
