@{
    ViewData["Title"] = "Kullanıcı Paneli";
}

<h1>@ViewData["Title"]</h1>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<form asp-action="KullaniciGiris" method="post">
    <input type="hidden" name="action" value="Giris" />
    <div>
        <label for="Mail">Mail:</label>
        <input type="email" id="Mail" name="Mail" required />
    </div>
    <div>commit</div>
    <div>
        <label for="Sifre">Şifre:</label>
        <input type="password" id="Sifre" name="Sifre" required />
    </div>
    <button type="submit">Giriş Yap</button>
</form>

<form asp-action="KullaniciGiris" method="post">
    <input type="hidden" name="action" value="Kayit" />
    <button type="submit">Kayıt Ol</button>
</form>
